<!DOCTYPE html>
<html>
<head>
    <title>Создание заявки</title>
    <style>
        .form-field { margin: 15px 0; }
        .error { color: red; }
    </style>
</head>
<body>
    <header>
        <h1>Design.pro</h1>
        <hr>
        <h3> Профиль: {{ user.username }}</h3>
        <nav>
            <a href="/">Главная</a>
            | <a href="/my-applications/">Мои заявки</a>
            | <a href="/logout/">Выйти</a>
        </nav>
        <hr>
    </header>

    <main>
        <h2>Создание заявки</h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit">Создать заявку</button>
        </form>
    </main>
</body>
</html>