{% extends "base_generic.html" %}

{% block content %}
<div class="form-card">
    <h2>Создание заявки</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-field">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="error">{{ field.errors.0 }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="submit-btn">Создать заявку</button>
    </form>
</div>
{% endblock %}