{% extends "base_generic.html" %}

{% block title %}Редактировать заявку{% endblock %}

{% block content %}
    <h2>Изменить статус заявки: {{ application.title }}</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div style="margin: 10px 0;">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div style="color: red;">{{ field.errors.0 }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Сохранить</button>
        <a href="{% url 'admin_applications' %}">Отмена</a>
    </form>
{% endblock %}